<div style="display: flex; flex-direction: row;">

    <div>
        <form (ngSubmit)="salvarDependente()">
            <div class="input">
                <label for="title">Nº de Inscrição: </label>
                <input type="number" placeholder="Digite o Nº de Inscrição" [(ngModel)]="numInscricao"
                    [ngModelOptions]="{standalone: true}">
                <label for="title">Nome do Dependente: </label>
                <input type="text" placeholder="Digite o nome" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}">
                <label for="title">Data de Nascimento: </label>
                <input type="date" [(ngModel)]="dtNascimento" [ngModelOptions]="{standalone: true}">
                <label for="title">Sexo: </label>
                <input type="text" placeholder="Digite o sexo" [(ngModel)]="sexo" [ngModelOptions]="{standalone: true}">
                <label for="title">A qual sócio é dependente?</label>
                <select-socio />
                <button id="salvar">
                    Salvar
                </button>
            </div>
        </form>
    </div>

    <div class="resultado">
        <table>
            <thead>
                <tr>
                    <th>
                        Nº de Inscrição:
                    </th>
                    <th>
                        Dependentes:
                    </th>
                    <th>
                        Dt Nascimento:
                    </th>
                    <th>
                        Sexo:
                    </th>
                    <th>
                        Ativo:
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>

            <tbody>
                @for (item of dependentes; track $index) {
                <tr>
                    <td>
                        {{ item.numInscricao }}
                    </td>
                    <td>
                        {{ item.nome }}
                    </td>
                    <td>
                        {{ item.dtNascimento }}
                    </td>
                    <td>
                        {{ item.sexo }}
                    </td>
                    <td>
                        {{ item.ativo }}
                    </td>
                    <td>
                        <button id="editar" (click)="abrirDialog(item)">Editar</button>
                        <button id="excluir" (click)="apagarDependente(item.id!)">Excluir</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>