<div style="display: flex; flex-direction: row;">
    <form (ngSubmit)="salvarLocacao()">
        <div class="input">
            <label for="title">Cliente: </label>
            <select-cliente (clienteSelecionado)="cliente = $event" />
            <label for="title">Item: </label>
            <select-item (itemSelecionado)="item = $event" />
            <label for="title">Data da Locação: </label>
            <input type="date" [(ngModel)]="dtLocacao" [ngModelOptions]="{standalone: true}" disabled>
            <label for="title">Data da Devolução: </label>
            <input type="date" [(ngModel)]="dtDevolucaoEfetiva" [ngModelOptions]="{standalone: true}">

            <button id="salvar">
                Salvar
            </button>
        </div>
    </form>

    <div class="resultado">
        <table>
            <thead>
                <tr>
                    <th>
                        Cliente:
                    </th>
                    <th>
                        Item:
                    </th>
                    <th>
                        Data Locação:
                    </th>
                    <th>
                        Data Devolução Prevista:
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>

            <tbody>
                @for (item of locacoes; track $index) {
                <tr>
                    <td>
                        {{ item.cliente.nome }}
                    </td>
                    <td>
                        {{ item.item.titulo.nome }}
                    </td>
                    <td>
                        {{ item.dtLocacao }}
                    </td>
                    <td>
                        {{ item.dtDevolucaoPrevista }}
                    </td>
                    <td>
                        <button id="editar" (click)="abrirDialog(item)">Editar</button>
                        <button id="excluir" (click)="apagarLocacao(item.id!)">Excluir</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>