<form (ngSubmit)="salvarClasse()">
    <div class="input">
        <label for="title">Nome da Classe: </label>
        <input type="text" placeholder="Digite o nome" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}">

        <label for="title">Valor: </label>
        <input type="number" placeholder="Digite o nome" [(ngModel)]="valor" [ngModelOptions]="{standalone: true}">


        <label for="title">Prazo de Devolução: </label>
        <input type="date" placeholder="Digite o nome" [(ngModel)]="prazoDevolucao"
            [ngModelOptions]="{standalone: true}">
        <button id="salvar">
            Salvar
        </button>
    </div>
</form>

<div class="">
    <table>
        <thead>
            <tr>
                <th>
                    Classes:
                </th>
                <th>
                    Valor:
                </th>
                <th>
                    Prazo de Devolução:
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>

        <tbody>
            @for (item of classes; track $index) {
            <tr>
                <td>
                    {{ item.nome }}
                </td>
                <td>
                    {{ item.valor }}
                </td>
                <td>
                    {{ item.prazoDevolucao }}
                </td>
                <td>
                    <button id="editar">Editar</button>
                    <button id="excluir">Excluir</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>