<div style="display: flex; flex-direction: row;">
    <form (ngSubmit)="salvarItem()">

        <div class="input">
            <label for="numSerie">Número de Série: </label>
            <input type="number" placeholder="Digite o número" [(ngModel)]="numSerie" name="numSerie" required>

            <label for="dtAquisicao">Data de Aquisição: </label>
            <input type="date" [(ngModel)]="dtAquisicao" name="dtAquisicao" required>

            <label for="tipoItem">Tipo de Item: </label>
            <input type="text" placeholder="Tipo do item" [(ngModel)]="tipoItem" name="tipoItem" required>

            <select-titulo-item (tituloSelecionado)="titulo = $event" />

            <button id="salvar">
                Salvar
            </button>
        </div>
    </form>

    <div class="resultado">
        <table>
            <thead>
                <tr>
                    <th>
                        Nº Série:
                    </th>
                    <th>
                        Data de Aquisição:
                    </th>
                    <th>
                        Tipo Item:
                    </th>
                    <th>
                        Titulo:
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>

            <tbody>
                @for (item of itens; track $index) {
                <tr>
                    <td>
                        {{ item.numSerie }}
                    </td>
                    <td>
                        {{ formatadorData(item.dtAquisicao) }}
                    </td>
                    <td>
                        {{ item.tipoItem }}
                    </td>
                    <td>
                        {{ item.titulo.nome }}
                    </td>
                    <td>
                        <button id="excluir" (click)="apagarItem(item.id!)">Excluir</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>