<div style="display: flex; flex-direction: row;">
    <form (ngSubmit)="salvarItem()">

        <div class="input">

            <label for="title">Numero de Serie: </label>
            <input type="number" placeholder="Digite o numero" [(ngModel)]="numSerie"
                [ngModelOptions]="{standalone: true}">

            <label for="title">Data de Aquisicao: </label>
            <input type="date" [(ngModel)]="dtAquisicao" [ngModelOptions]="{standalone: true}">

            <label for="title">Tipo item: </label>
            <input type="text" placeholder="Tipo do item" [(ngModel)]="tipoItem" [ngModelOptions]="{standalone: true}">

            <select-titulo-item />

            <button id="salvar">
                Salvar
            </button>
        </div>
    </form>

    <div class="resultado">
        <table>
            <thead>
                <tr>
                    <th>
                        Nº Série:
                    </th>
                    <th>
                        Data:
                    </th>
                    <th>
                        Tipo Item:
                    </th>
                    <th>
                        Titulo:
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>

            <tbody>
                @for (item of itens; track $index) {
                <tr>
                    <td>
                        {{ item.numSerie }}
                    </td>
                    <td>
                        {{ item.dtAquisicao }}
                    </td>
                    <td>
                        {{ item.tipoItem }}
                    </td>
                    <td>
                        {{ item.titulo }}
                    </td>
                    <td>
                        <button id="excluir"
                            (click)="numSerie !== undefined ? apagarItem(item.numSerie!) : null">Excluir</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>