<div class="sidebar">
    <h1 id="nome-sidebar">Locadora</h1>

    <div class="container">

        <ul>
            <li>
                <div class="botoes">
                    <a routerLink="ator">Ator</a>
                </div>
            </li>
        </ul>

        <ul>
            <li>
                <div class="botoes">
                    <a routerLink="diretor">Diretor</a>
                </div>
            </li>
        </ul>

        <ul>
            <li>
                <div class="botoes">
                    <a routerLink="classe">Classe</a>
                </div>
            </li>
        </ul>

        <ul>
            <li>
                <div class="botoes">
                    <a routerLink="titulo">Titulo</a>
                </div>
            </li>
        </ul>

        <!-- <ul>
            <li>
                <div class="botoes">
                    <a routerLink="item">Item</a>
                </div>
            </li>
        </ul> -->

    </div>
</div>