.container {
    display: flex;
    flex-direction: column;
    width: 5%;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    color: beige;
    background-color: rgb(180, 5, 5);
    height: 100vh;
    width: 250px;
}

.botoes {
    width: 60px;
    background-color: #f0f0f0;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.botoes:hover {
    background-color: #ff9898;
}

#nome-sidebar {
    display: flex;
    justify-content: center;
}

a {
    font-weight: bold;
    color: rgb(180, 5, 5);
}

a:hover {
    color: black
}