.sidebar {
    color: beige;
    background-color: rgb(180, 5, 5);
    height: 100vh;
    width: 250px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-top: 20px;
    width: 5%;
    gap: 14px;
}

.botoes {
    width: 60px;
    background-color: beige;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.botoes:hover {
    background-color: #ff9898;
}

#nome-sidebar {
    display: flex;
    justify-content: center;
}

a {
    font-weight: bold;
    color: rgb(180, 5, 5);
}

a:hover {
    color: black
}

h1 {
    padding: 20px;
 }