<div class="sidebar">
    <h1 id="nome-sidebar">Locadora</h1>

    <div class="container">

        <ul>
            <li>
                <a routerLink="ator" class="botoes">
                    Ator
                </a>
            </li>
        </ul>

        <ul>
            <li>
                <a routerLink="diretor" class="botoes">
                    Diretor
                </a>
            </li>
        </ul>

        <ul>
            <li>
                <a routerLink="classe" class="botoes">
                    Classe
                </a>
            </li>
        </ul>

        <ul>
            <li>
                <a routerLink="titulo" class="botoes">
                    Titulo
                </a>
            </li>
        </ul>

        <ul>
            <li>
                <a routerLink="item" class="botoes">
                    Item
                </a>
            </li>
        </ul>

    </div>
</div>