<div class="sidebar">
    <H1 id="nome-sidebar">SIDEBAR</H1>

    <div class="container">

        <ul>
            <li>
                <div class="botoes">
                    <a href="">Ator</a>
                </div>
            </li>
        </ul>

        <ul>
            <li>
                <div class="botoes">
                    <a href="">Diretor</a>
                </div>
            </li>
        </ul>

        <ul>
            <li>
                <div class="botoes">
                    <a href="">Classe</a>
                </div>
            </li>
        </ul>

    </div>
</div>