<h2 mat-dialog-title>Editar Titulo</h2>
<mat-dialog-content>

  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ano</mat-label>
    <input matInput [(ngModel)]="data.ano">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sinopse</mat-label>
    <input matInput [(ngModel)]="data.sinopse">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Categoria</mat-label>
    <input matInput [(ngModel)]="data.categoria">
  </mat-form-field>

  <select-diretor-titulo (diretorSelecionado)="data.diretor = $event" [selectedDiretor]="data.diretor" />

  <select-classe-titulo (classeSelecionado)="data.classe = $event" [selectedClasse]="data.classe" />

  <!-- <select-atores-titulo (atoresSelecionados)="data.atores = $event" [formControl]="atoresFormControl" /> -->


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data">Salvar</button>
</mat-dialog-actions>