<form (ngSubmit)="salvarAtor()">
    <div class="inputAtor">
        <label for="title">Nome do Ator: </label>
        <input type="text" placeholder="Digite o nome" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}">
        <button>
            Salvar
        </button>
    </div>
</form>

<div class="">
    <table>
        <thead>
            <tr>
                <th>
                    Atores: 
                </th>
            </tr>
        </thead>

        <tbody>
            @for (item of atores; track $index) {
            <tr>
                <td>
                    {{ item.nome }}
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>