li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
